<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="../../../assets/imgs/big-card.png"
      cardTitle="Lançamento nova versão Angular"
      cardDescription="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    ></app-big-card>
  </div>
  <div class="articles__small">
    <app-small-card
      id="2"
      photoCard="../../../assets/imgs/small-card_1.png"
      cardTitle="Conheça o Angular como poucos."
    ></app-small-card>
    <app-small-card
      id="3"
      photoCard="../../../assets/imgs/small-card_2.png"
      cardTitle="AngularJS! Ainda usam?"
    ></app-small-card>
    <app-small-card
      id="4"
      photoCard="../../../assets/imgs/small-card_3.png"
      cardTitle="Novo pacote para Angular."
    ></app-small-card>
  </div>
</div>

