header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container__articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.articles__main {
  width: 600px;
  height: auto;
  margin: 10px;
}

.articles__small {
  width: 600px;
  height: auto;
  margin: 10px;
}
